* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    grid-template-rows: 9% 38% 38% 9%;
}
header{
    background-color: lightseagreen;
    grid-column: 1/3;
}
.lefttop{
    background-color: rgb(7, 95, 95);
    grid-column: 1/2;
}
.leftbottom{
    background-color: rgb(14, 69, 69);
    grid-column: 1/2;
}
.right{
    background-color: rgb(7, 66, 95);
    grid-row: 2/4;
    grid-column: 2/3;
}
footer{
    background-color: rgb(51, 122, 83);
    grid-column: 1/3;
}