* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;

    grid-template-columns: 20% 20% 7% 27% 20%;
    gap: 10px;
    grid-template-rows: 27% 24% 7% 18% 18%;

    grid-template-areas:
    
    "left-top top-center1 top-center1 top-center2 right-top"
    "left-top center center center right-top"
    "left-bottom center center center right-top"
    "left-bottom center center center right-bottom"
    "left-bottom bottom-center1 bottom-center2 bottom-center2 right-bottom"
    ;
}
.left-top{
    grid-area: left-top;
    background-color: royalblue;
    border: 1px solid ghostwhite;
    border-radius: 20px;
}
.left-bottom{
    grid-area: left-bottom;
    background-color: crimson;
    border: 1px solid ghostwhite;
    border-radius: 20px;
}
.right-top{
    grid-area: right-top;
    background-color: blueviolet;
    border: 1px solid ghostwhite;
    border-radius: 20px;
}
.right-bottom{
    grid-area: right-bottom;
    background-color: blue;
    border: 1px solid ghostwhite;
    border-radius: 20px;
}
.center{
    grid-area: center;
    background-color: ghostwhite;
    border: 1px solid ghostwhite;
    border-radius: 20px;
}
.top-center1{
    grid-area: top-center1;
    background-color: lavender;
    border: 1px solid ghostwhite;
    border-radius: 20px;
}
.top-center2{
    grid-area: top-center2;
    background-color: blanchedalmond;
    border: 1px solid ghostwhite;
    border-radius: 20px;
}
.bottom-center1{
    grid-area: bottom-center1;
    background-color: coral;
    border: 1px solid ghostwhite;
    border-radius: 20px;
}
.bottom-center2{
    grid-area: bottom-center2;
    background-color: magenta;
    border: 1px solid ghostwhite;
    border-radius: 20px;
}